*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.Nav {
    background-color: #6096B4;
}

.Item{
/*   width: 70%;*/
   margin: auto;
}

/*body {
    
    background-image: url("https://i.ibb.co/k5Km589/pexels-adrien-olichon-2387793.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
*/
.logo{
    width: 50px;
    border-radius: 50%;
}
